@model UserVM

            <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="description" content="">
                <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
                <meta name="generator" content="Hugo 0.87.0">
                <title>Signin Template · Bootstrap v5.1</title>

                <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">



                <!-- Bootstrap core CSS -->
                <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

                <style>
                                .bd-placeholder-img {
                                    font-size: 1.125rem;
                                    text-anchor: middle;
                                    -webkit-user-select: none;
                                    -moz-user-select: none;
                                    user-select: none;
                                }
                                /*       body {
                        height: 100%;
                    }

                    body {
                        display: flex;
                        align-items: center;
                        padding-top: 40px;
                        padding-bottom: 40px;
                        background-color: #f5f5f5;
                    }*/

                                .form-signin {
                                    width: 100%;
                                    max-width: 330px;
                                    padding: 15px;
                                    margin: auto;
                                }

                                    .form-signin .checkbox {
                                        font-weight: 400;
                                    }

                                    .form-signin .form-floating:focus-within {
                                        z-index: 2;
                                    }

                                    .form-signin input[type="email"] {
                                        margin-bottom: -1px;
                                        border-bottom-right-radius: 0;
                                        border-bottom-left-radius: 0;
                                    }

                                    .form-signin input[type="password"] {
                                        margin-bottom: 10px;
                                        border-top-left-radius: 0;
                                        border-top-right-radius: 0;
                                    }
                </style>


                <!-- Custom styles for this template -->
                <link href="signin.css" rel="stylesheet">
            </head>
             <main class="form-signin">
                    <form method="post">
                        <img class="mb-4" src="https://static.vecteezy.com/system/resources/thumbnails/001/395/424/small/black-and-white-car-front-drawing-free-vector.jpg" alt="" width="72" height="57">
                        <h1 class="h3 mb-3 fw-normal">Giriş</h1>

                        <div class="form-floating">
                            <label for="floatingInput">Email</label>
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Email">
                        </div>
                        <div class="form-floating">
                            <label for="floatingPassword">Şifre</label>
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Şifre" asp-for="Password">
                        </div>

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Giriş Yap</button>
                        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
                    </form>
                </main>

